target:
  host: "HOST"
  user: "USER"
  password: "PASSWORD"
  port: 22

firewall:
  open_ports:
    - 22
    - 80

user:
  name: "apps"
  password: "apps"
  sudo: true

php:
  max_execution_time: "60"
  memory_limit: "256M"
  post_max_size: "16M"
  upload_max_filesize: "16M"

mysql:
  root:
    password: "password"
  user:
    name: "apps"
    password: "apps"
  database:
    name: "apps"