target:
  host: "HOST"
  user: "USER"
  password: "PASSWORD"
  port: 22

firewall:
  open_ports:
    - 22
    - 80

user:
  name: "apps"
  password: "apps"
  sudo: true

mysql:
  root:
    password: "password"
  user:
    name: "apps"
    password: "apps"
  database:
    name: "apps"